@import url(/css/base.css);

:root {
  --blue-3:                     #1a1334;
  --blue-2:                     #26294a;
  --blue-1:                     #01545a;
  --green-3:                    #017351;
  --green-2:                    #03c383;
  --green-1:                    #aad962;
  --yellow:                     #fbbf45;
  --orange:                     #ef6a32;
  --red:                        #ed0345;
  --purple-1:                   #a12a5e;
  --purple-2:                   #710162;
  --purple-3:                   #110141;

  --primary-3:                  var(--blue-2);
  --primary-2:                  var(--purple-2);
  --primary-1:                  var(--purple-1);
  --shadow:                     var(--blue-3);

  --design-grid-size:           60px;
  --main-layout-side-width:     56px;

  --nav-bg-color:               var(--primary-3);
  --nav-bg-hover:               var(--primary-2);
  --nav-bg-active:              var(--primary-1);

  --nav-home-color:             var(--red);
  --nav-home-hover:             var(--orange);
  --nav-home-active:            var(--yellow);
}

.wf-loading { display: none; }
